# Parte 1 - Princípios Básicos

# Principais tipos de células no Notebook

# Markdown

## Variando a quantidade de # eu posso variar o tamanho do texto
### Com mais # o texto fica menor


#### O Markdown é um tipo de célula que usamos quando queremos documentar o código, e escrever explicações que não irão fazer parte do programa (não são linhas de código)

In [1]:
# Linha de Código - Posso usar # na linha de código para documentar etapas também, porém o texto não ficará formatado já que o principal objetivo desta linha é rodar comandos


print('Olá Mundo')

Olá Mundo

# Variáveis

## Usadas para armazenar informação que usamos de forma frequente.

In [2]:
3

3

In [3]:
numero = 3

In [4]:
numero

3

# Tipos de variáveis no Python

In [5]:
# Texto - String

texto = 'Testando'

In [6]:
texto

'Testando'

In [7]:
texto.replace('t','T')

'TesTando'

In [8]:
texto[0:5]

'Testa'

In [9]:
texto[4:]

'ando'

In [10]:
texto[-3:]

'ndo'

In [11]:
# Número inteiro - Int

inteiro = 3

In [12]:
inteiro

3

In [13]:
inteiro2 = 5

In [14]:
inteiro*inteiro2

15

In [15]:
# Número Decimal - Float

float = 3.5

In [16]:
float

3.5

In [17]:
# Booleano - Verdadeiro ou Falso - Bool

print(3==5)

verdadeiro = True
falso = False  

print(verdadeiro + falso)
print(verdadeiro * 2)
print(falso *2)

False
1
2
0

In [18]:
# Lista  - List

lista = [1,2,4,'teste',3.5]

In [19]:
lista

[1, 2, 4, 'teste', 3.5]

In [20]:
# Dicionário - Dic

dic = {'um':1,'dois':2,'tres':3}

In [21]:
dic

{'um': 1, 'dois': 2, 'tres': 3}

In [22]:
# Checando qual o tipo de uma variável

print(type(lista))
print(type(verdadeiro))
print(type(dic))
print(type(inteiro))
print(type(float))

<class 'list'>
<class 'bool'>
<class 'dict'>
<class 'int'>
<class 'float'>

In [23]:
tres = '3'

In [24]:
type(tres)

str

# Começando - Mão na Massa

## Operações Básicas

In [31]:
#Soma

3+5

8

In [32]:
#Subtração 

3-5

-2

In [33]:
#Multiplicação

3*5

15

In [34]:
#Divisão 

3/5

0.6

## Operações com texto

In [35]:
texto1 = 'palavra1'
texto2 = 'palavra2'

print(texto1+texto2)
print(texto1*2)


print(texto1 + 'textodomeio' + '   ' + '/' + ':' + texto2)

palavra1palavra2
palavra1palavra1
palavra1textodomeio   /:palavra2

## Operações com Listas

In [36]:
lista1 = [1,2,4,'teste',3.5]
lista2 = [1,3,5,7]

lista3 = lista1 + lista2

In [37]:
lista3

[1, 2, 4, 'teste', 3.5, 1, 3, 5, 7]

# Funções úteis no Python

In [38]:
# Print - Escreve na tela

print('Olá Mundo')

Olá Mundo

In [ ]:
# Import - Importa bibliotecas do repositório do Anaconda

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [39]:
texto = 'Mundo'

In [40]:
texto.replace('o','ão')

'Mundão'

In [41]:
texto.upper()

'MUNDO'

In [43]:
texto.upper()

'MUNDO'

In [45]:
texto = texto.upper()

In [46]:
texto.count()

'MUNDO'

# Parte 2 - Listas

### Listas são extremamente úteis no Python, quando queremos armazenar valores referentes a uma mesma medida ou dimensão, ou alguma informação que iremos ler sequencialmente

### Digamos que estamos anotando a idade de cada pessoa na turma, podemos usar uma lista para armazenar os resultados

In [47]:
# Vamos dar o nome de idades para a lista
# O colchete é o simbolo usado para delimitar uma lista


idades = [30,27,31,45,50,22,18,26,30]

### Agora que temos a lista, vamos tentar fazer algumas operações com esta lista

In [48]:
# Digamos que eu queira a soma da lista
# Posso usar a função SUM para obter a soma:

sum(idades)

279

### Para operações mais complexas, veremos a Biblioteca Numpy que nos ajudará a fazer diversas operações matemáticas

### Digamos que eu queira fazer mudanças na lista

In [49]:
# A lista base é essa

idades

[30, 27, 31, 45, 50, 22, 18, 26, 30]

In [50]:
# Adicionando items

idades.append(15)

In [51]:
idades

[30, 27, 31, 45, 50, 22, 18, 26, 30, 15]

In [52]:
#Removendo itens

idades.remove(15)

In [53]:
idades

[30, 27, 31, 45, 50, 22, 18, 26, 30]

In [54]:
#Multiplicando a lista

idades*2

[30, 27, 31, 45, 50, 22, 18, 26, 30, 30, 27, 31, 45, 50, 22, 18, 26, 30]

In [55]:
idades

[30, 27, 31, 45, 50, 22, 18, 26, 30]

### Perceba que quando uso os operadores append e remove, eu estou modificando a lista que existe. 
### Quando eu simplesmente multiplico a lista, a variável da lista não se altera, apenas estou usando temporariamente os valores

In [56]:
# Vamos criar uma segunda lista com as idades de uma segunda turma

idades2 = [15,16,17,18]

In [57]:
# Digamos que eu queira adicionar a segunda lista na primeira

idades.append(idades2)

In [58]:
idades

[30, 27, 31, 45, 50, 22, 18, 26, 30, [15, 16, 17, 18]]

### Agora tenho uma lista dentro de outra, um dos elementos da minha lista idades é uma outra lista idades2

In [59]:
# Se eu checar o tipo da variável que tenho, ainda será uma lista mesmo tendo outra lista dentro

type(idades)

list

In [60]:
type(idades2)

list

In [61]:
idades.remove(idades2)

### Vamos verificar outros operadores de lista que são úteis

### sort
### index
### count

In [62]:
# Sort - Ordena os elementos
# Voltando a lista original

idades.sort()

In [63]:
idades

[18, 22, 26, 27, 30, 30, 31, 45, 50]

In [64]:
idades.sort(reverse=True)

In [65]:
idades

[50, 45, 31, 30, 30, 27, 26, 22, 18]

In [66]:
idades.index(45)

1

In [67]:
idades.count(30)

2

In [68]:
# Vamos verificar uma função a mais, para sabermos quantos elementos temos na lista, usamos a função len()


len(idades)

9

In [69]:
# Pegando o elemento de número N da lista

idades[3]

30

In [70]:
# Dica, para criar uma lista vazia, apenas use os colchetes vazios

lista = []

# Parte 3 - Dicionários

## Dicionários são usados como consultas, para checar o par chave-valor de uma chave que possa existir na sua base de dados. É uma maneira fácil de converter valores quando a correspondência é conhecida

## A principal característica de um dicionário é estar contido entre chaves {} ao contrário da lista que está contida entre colchetes []

## Os pares chave-valor são representados Chave:Valor

In [71]:
# Pegando a lista de idades da última parte do curso

idades = [30,27,31,45,50,22,18,26,30]

In [72]:
# Supondo agora que precisamos fazer uma correspondência com o nome da pessoa

nomes = ['Pedro', 'Carlos','Maria','Alice','Marina','Marcos','Antonio','José','Renata']

In [73]:
dict_idades = {'Pedro':30,'Carlos':27,'Maria':31,'Alice':45,'Marina':50,'Marcos':22,'Antonio':18,'José':26,'Renata':30}

In [74]:
dict_idades.get('Pedro')

30

In [75]:
#Dica 

#Função Zip junta as duas listas e forma um dicionário

dict_idades = dict(zip(nomes,idades))

In [76]:
dict_idades

{'Pedro': 30,
 'Carlos': 27,
 'Maria': 31,
 'Alice': 45,
 'Marina': 50,
 'Marcos': 22,
 'Antonio': 18,
 'José': 26,
 'Renata': 30}

## Métodos usados em Dicionários

In [77]:
#Metodo Keys - Retorna as chaves do dicionário

dict_idades.keys()

dict_keys(['Pedro', 'Carlos', 'Maria', 'Alice', 'Marina', 'Marcos', 'Antonio', 'José', 'Renata'])

In [78]:
#Metodo Values - Retorna os valores do dicionário


dict_idades.values()

dict_values([30, 27, 31, 45, 50, 22, 18, 26, 30])

In [79]:
# Append - Adicionar elementos ao dicionário

dict_idades['Henrique'] = 45

dict_idades

{'Pedro': 30,
 'Carlos': 27,
 'Maria': 31,
 'Alice': 45,
 'Marina': 50,
 'Marcos': 22,
 'Antonio': 18,
 'José': 26,
 'Renata': 30,
 'Henrique': 45}

In [80]:
# Pop - Remover elementos do dicionário

dict_idades.pop('Henrique')

dict_idades

{'Pedro': 30,
 'Carlos': 27,
 'Maria': 31,
 'Alice': 45,
 'Marina': 50,
 'Marcos': 22,
 'Antonio': 18,
 'José': 26,
 'Renata': 30}

In [81]:
# Atualizando elementos do dicionário

dict_idades['Pedro'] = 31

dict_idades

{'Pedro': 31,
 'Carlos': 27,
 'Maria': 31,
 'Alice': 45,
 'Marina': 50,
 'Marcos': 22,
 'Antonio': 18,
 'José': 26,
 'Renata': 30}